@{
    ViewData["Title"] = "قوانین";
}

<div class="single_post">
    <div class="container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="post_content text-center">
                <span>هرگونه کپی برداری از تمام یا بخشی از قسمت های سایت تنها با کسب مجوز از مدیریت سایت امکان پذیر است.<br/>
                    در غیر این صورت هرگونه کپی برداری شرعا و قانونا مجاز نبوده و پیگرد قانونی دارد.<br/>
                    توهین به سایر کاربران در قسمت نظرات سایت در مرتبه سوم باعث مسدود شدن کامل کاربر و غیر فعال شدن حساب کاربری آن شخص خواهد شد.<br/>
                    نظرات اسپویل دار چنانچه در ابتدای نظر کلمه ی اسپویل قید نشود پیام مورد تایید مدیریت قرار نخواهد گرفت لذا توجه لازم را بفرمایید.<br/>
                    و در نهایت با احترام به قوانین که مجموعا برای آسایش و امنیت روانی خود کاربران در نظر گرفته شده محیطی گرم و دوستانه برای گپ و گفت فراهم نمایید !</span>
            </div>
        </div>
    </div>
</div>