@model IEnumerable<TechNews.DataLayer.Entities.Newsletter>

@{
    ViewData["Title"] = "خبرنامه";
}

<h1>لیست کاربران خبرنامه</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                <a class="btn btn-sm btn-outline-success" href="#">ارسال ایمیل</a>&nbsp;|
                <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.NewsletterId">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="col-md-12 text-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (ViewBag.PageCount > 1)
            {
                @for (var i = 1; i <= ViewBag.PageCount; i++)
                {
                    <li class="page-item"><a class="page-link" onclick="changePageNo(@i)">@i</a></li>
                }
            }
        </ul>
    </nav>
</div>

<!--Paging-->
<form asp-action="Index" asp-controller="Newsletter" id="change">
    <input type="hidden" value="1" name="pageId" id="pageNo" />
</form>


<script>
    function changePageNo(pageId)
    {
        $("#pageNo").val(pageId);
        $("#change").submit();
    }
</script>
<!--EndPaging-->