@model TechNews.DataLayer.Entities.Category

@{
    ViewData["Title"] = "ایجاد";
}

<h1>دسته بندی جدید</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryTitle" class="control-label"></label>
                <input asp-for="CategoryTitle" class="form-control" />
                <span asp-validation-for="CategoryTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
