
<form class="form-inline ml-3" asp-action="SearchInItems" asp-controller="Search" method="post">
    <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" name="q" type="search" placeholder="جستجو" aria-label="Search" required>
        <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>
