@using System.Security.Claims
@model TechNews.Core.DTOs.ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر کلمه عبور";
}


<div class="row forget-password">
    <h1>تغییر کلمه عبور</h1>
    <hr />

    <div class="col-md-12" style="text-align: center;">
        <form asp-action="ChangePassword" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier).ToString())" asp-for="UserId" class="form-control"/>

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control"/>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">ثبت تغییرات</button>
            </div>
        </form>
        <a class="btn btn-outline-info" href="/UserPanel?userId=@int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier).ToString())">بازگشت به پنل کاربری</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
