@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}
<div class="success-recover">
    <h1>بازیابی موفق</h1>
    <div class="single_post">
        <div class="container-fluid">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="post_content text-center">
                    <span>&nbsp;<b>@ViewBag.Username</b>عزیز ، کلمه عبور شما با موفقیت بازیابی شد&nbsp; . <br />کلمه عبور جدید شما&nbsp;<b>@ViewBag.Password</b> می باشد !<br/> 
                        لطفا جهت امنیت حساب کاربری کلمه عبور خود در اسرع وقت تغییر دهید !</span>
                    <hr />
                    <span><a class="btn btn-default" href="/SignIn">ورود به حساب کاربری</a> </span>
                </div>
            </div>
        </div>
    </div>


</div>
