<div class="container-fluid">
    <div class="col-md-6">
        <div class="copy-r">
            <p>&copy; تمامی حقوق متعلق به تک نیوز می باشد</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="creator text-left">
            <p>توسعه قالب seo90 ، کد نویسی و شخصی سازی Hurr1cane</p>
        </div>
    </div>
</div>