<div class="container-fluid">
    <div class="col-md-5">
        <div class="footer-box">
            <span class="title">تک نیوز </span>
            <p>
                اخبار روز و نقد بررسی تکنولوژی و ویدیو گیم
            </p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="footer-box">
            <span class="title">دسترسی سریع</span>
            <ul>
                <li><a href="/Privacy">قوانین</a></li>
                <li><a href="/Ticket">تیکتینگ</a></li>
                <li><a href="/Newsletter">خبرنامه</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="footer-box">
            <span class="title">دسته بندی های برتر</span>
            <ul>
                <li><a href="/Category/3">تکنولوژی</a></li>
                <li><a href="/Category/1">ویدیو گیم</a></li>
                <li><a href="/Category/2">فیلم و سریال</a></li>
                <li><a href="/Category/8">مقالات</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="footer-box contact-box">
            <span class="title">تماس با ما</span>
            <a href="tel:09120000000"><p><i class="fa fa-phone"></i> 09120000000</p></a>
            <a href="tel:09120000000"><p><i class="fa fa-phone"></i> 09020000000</p></a>
            <a href="mailto:info@technews.ir"><p><i class="fa fa-envelope-o"></i>info@technews.ir</p></a>
            <p><i class="fa fa-map-marker"></i>تهران</p>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>