<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/owl.carousel.css">
<link rel="stylesheet" href="/css/owl.theme.default.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/CustomStyles.css">