@model TechNews.DataLayer.Entities.User

@{
    ViewData["Title"] = "ویرایش";
}

<h1>ویرایش اطلاعات کاربری</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" class="form-control" />
            <input type="hidden" asp-for="Password" class="form-control" />
            <input type="hidden" asp-for="RegisterDate" class="form-control" />

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePhoto" class="control-label"></label>
                <input type="file" asp-for="ProfilePhoto" class="form-control" />
                <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IpAddress" class="control-label"></label>
                <input asp-for="IpAddress" class="form-control" />
                <span asp-validation-for="IpAddress" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                @Html.DropDownListFor(model => model.RoleId,
                    new List<SelectListItem>()
                    {
                        new SelectListItem("کاربر","1"),
                        new SelectListItem("نویسنده","2"),
                        new SelectListItem("ادمین","3")
                    }
                    ,new { @class = "form-control"})
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-outline-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست کاربران</a>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
